* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

#wrapper {
    margin: 40px auto;
    width: 600px;
    height: 600px;
    box-sizing: border-box;
    border: 1px solid #000;
    background: #DC143C;
}

#board {
    display: block;
    margin: auto;
    width: 600px;
    height: 600px;
    box-sizing: border-box;
    background-color: #000;
}

.board_tile {
    display: inline-block;
    width: calc(100%/4);
    height: calc(100%/4);
    border: 2px solid #000;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
    box-sizing: border-box;
    margin: -2px auto;
    position: relative;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.rotate {
    border-color: #e22121;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.interfaceButton {
    margin-top: 30px;
    width: 100px;
    height: 30px;
    border-radius: 2px;
    background-color: #a7d48b;
}

.front_block {
    position: absolute;
    border: 1px solid #fff;
    background: #000;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.congratulations_message {
    margin-top: 50%;
    font-size: 40px;
    font-weight: 600;
    color: #FFA000;
    transform: rotate(-30deg);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    text-transform: uppercase;
}